<md-dialog aria-label="Add User">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add a new User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:400px;">

    <md-content layout-padding>
        <div>
            <form name="userForm">
            <md-input-container class="md-block">
                <label>Nome</label>
                <input ng-model="user.nome" md-maxlength="150" md-select-on-focus />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Data Nascimento</label>
                <input ng-model="user.dataNascimento" md-maxlength="10" md-select-on-focus />
            </md-input-container>
        </form>
        </div>
    </md-content>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="closeDialog()" >
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="saveUser()" style="margin-right:20px;" >
        Add User!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
